*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background:#0c0c4e;
        
}
.name{
    font-size: 32px;
    font-family: cursive;
}
.menus{
    display: flex;
    gap: 1em;
    font-size: 18px;
    
}
.menus li{
    padding: 5px 14px;
    
}
.menus a{
    color: white;
    text-decoration: none;
}
.menus a:hover{
    color: orange;
    font-size: 1.2rem;
}

.menus li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #0c0c4e;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    border-radius: 5px;
    
}

.submenu li {
    padding: 10px;
    width: 300px;
    height: 20px;
    display: flex;
    font-size: 0.8rem;
}
.submenu a:hover{
    color:orange;
    font-size: 0.9rem;
}

/* Adjust the appearance of the submenu as needed */


input[type=checkbox] {
    display: none;
  } 
  
  /* CLAPPERBOARD MENU */
  .clapperboard {
    display: none;
    font-size: 24px;
    user-select: none;
  }
@media(max-width:768px){
    .menus{
        display: none;
        position: absolute;
        background:#0c0c4e;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 20px;
        
    }
    .menus a{
        color: white;
        text-decoration: none;
    }
    .menus a:hover{
        color: orange;
        font-size: 1.2rem;
    }
    input[type=checkbox]:checked ~ .menus {
        display: block;
      } 
      
      /* CLAPPERBOARD MENU */
      .clapperboard {
        display: block;
        font-size: 24px;
        user-select: none;
      }
      
    
  }

body{
    background-color:rgb(0, 0, 33);
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

.contact{
display: none;
}
main hr{
    border: 0;
    background: orange;
    height: 1.2px;
    margin: 40px 84px;
}

.left{
    font-size: 1.5rem;
    color: antiquewhite;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 90px 0;
    align-items: center;

}
.firstsection >div{
    width: 30%;

}
.leftsection{
    font-size: 2rem;
    margin: 70px 0;
}
.leftsection .btn{
    padding: 12px;
    background: rgb(4 3 66);
    border: 3px solid orange;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 26px;
    text-decoration: none;
    transition: all ease .50s;
}
.leftsection .btn a{
   
    color: white;
    font-size: 12px;
    text-decoration: none;
    transition: all ease .50s;
}
.leftsection .btn a:hover{
   
    color: orange;
    font-size: 1.01rem;
}
.leftsection .btn:hover{
    color: orange;
    font-size: 1.01rem;
}
.rightsection img{
    width: 80%;
}
.about{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 500px;
}
.about .about-img{
    flex: 1;
    max-width: 50%;
    height: 100%;
    
  }
  .about .about-img img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    
    
}
.about .about-test {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: cursive;
  
}
.about .about-test h2{
    
    font-size: 2rem;
    
    margin-bottom: 10px;
   
}
.about .about-test h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
    
}
.about .about-test h5 span{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
    color: orange;
}
.about-btn{
    padding: 12px;
    background: rgb(4 3 66);
    border: 3px solid orange;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 26px;
    text-decoration: none;
    width: 200px;
    transition: all ease .50s;
}
.about-btn a{
   
    color: white;
    font-size: 12px;
    text-decoration: none;
    transition: all ease .50s;
}

.about-btn a:hover{
   
    color: orange;
    font-size: 1.01rem;
}
.text-center{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.text-center h2{
    font-size: 2rem;  
    margin-bottom: 10px;

}
.text-center h4{
    font-size: 22px;  
   

}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
    margin-left: 50px;
    margin-right: 50px;
}
.service-box{
    padding: 45px 30px;
    border-radius: 0.8rem;
    
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease .50s;
    background: rgb(3, 2, 67);
}
iconify-icon {
    font-size: 50px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
}
.service h3{
    font-size: 23px;
    margin-bottom: 12px;
}
.service-box p{
    line-height: 30px;
    margin-bottom: 1.5rem;
}
.service-box:hover{
    transform: translateY(-8px);
    border: 1px solid orange
}
.s-btn{
    display: inline-block;
    padding: 9px 24px;
    background-color: #0c0c4e;
border: solid orange 3px;
color: white;
text-decoration: none;
border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all ease .50s;
}
.s-btn:hover{
    color: orange;
    font-size: 1rem;
}
.s-btn a:hover{
   
    color: orange;
    font-size: 1rem;
}

.purple{
    color: orange;
}
#element{
    color: orange;
}

.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondsection h1{
    font-size: 1.9rem;
    margin-top: 0px;
}
.text-gray{
    color: gray;
}
.secondsection .box{
    background: orange;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: orange;
    margin: 0 140px;

}
.vertical-title{
    position: relative;
    top: 56px;
    font-size: 1.2rem;
    color: orange;
    width: 250px;
    
}
.vertical-desc{
    top: 56px;
    position: relative;
    font-size:13px;
    width:250px;


}
.image-top{
    width: 34px;
    position: relative;
    top: -39px;
    left: -6px;
}



.contacts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,auto));
    align-items: center;
    gap: 5rem;
    margin-right: 50px;
    margin-left: 50px;

}
.left-contacts{
    display: flex;
    align-items: center;
    text-align: center;

    gap: 4rem;
}
.in iconify-icon{
    color: orange;
    opacity: 0.5;
    font-size: 120px;
    margin-bottom: 15px;
    transition: all ease .40s;

}
.in iconify-icon:hover{
    opacity: 1;
    cursor: pointer;

}
.in h4{
    font-size: 27px;
    letter-spacing: 1px;
}
.right-contacts{
    text-align: left;
    
}
.right-contacts h2{
    
    font-size: 2rem;
    margin-bottom: 5px;
   
}
.right-contacts a{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-bottom: 2px solid orange;
    padding: 3px 0;
    transition: all ease .40s;
    color: antiquewhite;
    text-decoration: none;
   
}

.right-contacts a:hover{
    transform: translate(-5px);
    color: orange;
    border-bottom: 2px solid orange;
}
.right-contacts p{
    line-height: 30px;
    margin-bottom: 1.5rem;
}
.end{
    padding: 80px 19% 70px;
    background:#060638;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.end h3{
    font-size: 20px;
    margin-bottom: 10px;

}
.end p{
    line-height: 30px;
    margin-bottom: 20px;
}
.end-icons{ 
    height: 10px;
    width: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.end-icons a iconify-icon {
    font-size: 24px; /* Set icon size */
    border: 2px solid orange;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 9px;
    transition: all ease .50s;
    color: orange;
}
.scroll-btn{
    position: fixed;
    right: 0.6rem;
    bottom: 0.6rem;
    color: orange;
    height: 20px;
    font-size: 23px;
    padding: 9px;
    border-radius: 0.8rem;
    /* background:#060638; */
    background-color: orange;
}
.scroll-btn iconify-icon{
    color:#060638 ;
    font-size: 20px;
}

@media(max-width:1060px)  {
    .about{
        flex-direction: column;
    }
    .about-img{
        text-align: center;
       
    }
    .about-img img{
        max-width: 100%;
        width: 600px;
        height: auto;
    }
    .service-item{
        grid-template-columns: repeat(auto-fit, minmax350px, auto);
    }
    
    .left-contacts{
        margin: auto;
    }
}